{{>admin/header}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Daftar Data Dosen
            <small></small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="/admin">
                    <i class="fa fa-dashboard"></i>Home</a>
            </li>
            <li class="active">List Data Dosen</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="container-fluid half-padding">
            <div class="template template__blank">
                <div class="row">

                    <!-- flash message -->
                    

                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filter Data</h3>
                            </div>
                            <!-- form start -->
                            <form method="get" action="/admin/daftarnama/id" class="form-horizontal">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <label for="exampleInputNama">Nama</label>
                                            <input type="text" name="query" value="" class="form-control" />
                                        </div>                            
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">
                                        <i class="fa fa-search"></i> Cari</button>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-primary" href="/admin/daftarnama/id">
                                        <i class="fa fa-time"></i> Menghapus Pencarian
                                    </a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-primary" href="/admin/daftarnama/addNama">
                                        <i class="fa fa-plus"></i> Tambah Nama
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <p style="font-weight: bold;text-decoration: underline; padding-top: 5px; padding-left: 10px;">Total Data :
                                {{rows.length}}
                            </p>
                            <tr>              
                                <th class="text-center" width="130">ACTION</th>
                                <th class="text-center">Id</th>
                                <th class="text-center">Nama</th>
                                <th class="text-center">Nama Keuangan</th>
                                <th class="text-center">Nama Penjadwalan</th>
                                <th class="text-center">Nama BAU</th>
                                <th class="text-center">Gelar</th>
                                <th class="text-center">Nik</th>
                                <th class="text-center">Nomor Rekening</th>
                                <th class="text-center">Nama Rekening</th>
                            </tr>
                            {{#each rows}}
                            <tr>
                                <td width="130">
                                    <a href="/admin/detailedNama/{{Id}}">  {{!-- a intinya larinya routing --}}
                                        <button class="btn btn-block btn-default btn-sm">
                                            <i class="fa fa-eye"></i> View Detail Nama
                                        </button>
                                    </a>
                                </td>

                                <td class="text-center">
                                    {{Id}}
                                </td>
                                <td class="text-center">
                                    {{Nama}}
                                </td>
                                 <td class="text-center">
                                    {{Nama_Keuangan}}
                                </td>
                                <td class="text-center">
                                    {{Nama_Penjadwalan}}
                                </td>
                                <td class="text-center">
                                    {{Nama_BAU}}
                                </td>
                                 <td class="text-center">
                                    {{Gelar}}
                                </td>
                                <td class="text-center">
                                    {{NIK}}
                                </td>
                                <td class="text-center">
                                    {{Rekening_Bank}}
                                </td>
                                <td class="text-center">
                                    {{Nama_Rek_DKI}}
                                </td>
                            </tr>
                            {{/each}}
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{>admin/footer}}