{{>admin/header}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Rincian Data
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/admin">
					<i class="fa fa-dashboard"></i>Home</a>
			</li>
			<li><a href="/admin/users/id/:query?"><i class="fa fa-users"></i>List Admin</a></li>
		    <li class="active">Edit</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="container-fluid half-padding">
			<div class="template template__blank">
				<div class="row">
					<!-- flash message -->
					
					
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Menyunting Informasi</h3>
							</div>
							{{#each row}}
							<form method="post" action="/admin/editUser/{{user_id}}">							
								<table class="table table-bordered">
									<tbody>
										<tr>
											<th style="width:50px">Nama</th>
											<td>
												<input type="text" class="form-control" name="name" style="width:300px" value="{{name}}">												
											</td>
										</tr>
										<tr>
											<th style="width:50px">Email</th>
											<td>
												<input type="email" class="form-control" name="email" style="width:300px" value="{{email}}">
											</td>
										</tr>
										<tr>
											<th style="width:50px">Password</th>
											<td>
												<input type="password" class="form-control" name="password" placeholder="Kosongkan jika tidak ingin ganti" style="width:300px" value="" >
											</td>
										</tr>
										<tr>
											<th style="width:50px">Confirm Password</th>
											<td>
												<input type="password" class="form-control" name="password2" placeholder="Kosongkan jika tidak ingin ganti" style="width:300px" value="" >
											</td>
										</tr>
										<tr>
											<th style="width:50px">Status</th>
											<td>
												<select name="status" class="form-control" id="status" style="width:200px;text-align:center" required>
													<option value="">Pilih Status User</option>
													<option value="1" {{#if status}}selected{{/if}} >Aktif</option>
													<option value="0" {{#if status}}{{else}}selected{{/if}}>Tidak Aktif</option>
												</select>											
											</td>
										</tr>
										<tr>
											<th style="width:150px"></th>
											<td colspan="2" style="width:250px">											
												<input type="submit" class="btn btn-primary" value="Simpan">
												<a href="/admin/deleteUser/{{user_id}}" class="btn btn-danger pull-right">Hapus Data</a>                                                
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->


{{>admin/footer}}