{{>admin/header}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<!-- Content Header (Page header) -->
	<section class="content-header">
		<h1>
			Rincian Data
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li>
				<a href="/admin">
					<i class="fa fa-dashboard"></i>Home</a>
			</li>
			<li><a href="/admin/daftarnama/id/:query?"><i class="fa fa-users"></i>List Data Dosen</a></li>
		    <li class="active">Edit</li>
		</ol>
	</section>

	<!-- Main content -->
	<section class="content container-fluid">
		<div class="container-fluid half-padding">
			<div class="template template__blank">
				<div class="row">
					<!-- flash message -->
					
					
					<div class="col-md-12">
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">Menyunting Informasi</h3>
							</div>
							{{#each alik}}
							<form method="post" action="/admin/editNama/{{Id}}">							
								<table class="table table-bordered">
									<tbody>
										<tr>
											<th style="width:50px">Nama</th>
											<td>
												<input type="text" class="form-control" name="Nama" style="width:300px" value="{{Nama}}">
											</td>
										</tr>
										<tr>
											<th style="width:50px">Nama Keuangan</th>
											<td>
												<input type="text" class="form-control" name="Nama_Keuangan" style="width:300px" value="{{Nama_Keuangan}}" >
											</td>
										</tr>
										<tr>
											<th style="width:50px">Nama Penjadwalan</th>
											<td>
												<input type="text" class="form-control" name="Nama_Penjadwalan" style="width:300px" value="{{Nama_Penjadwalan}}" >
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">Nama BAU</th>
											<td>
												<input type="text" class="form-control" name="Nama_BAU" style="width:300px" value="{{Nama_BAU}}" >
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">Gelar</th>
											<td>
												<input type="text" class="form-control" name="Gelar" style="width:300px" value="{{Gelar}}" >
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">NIK</th>
											<td>
												<input type="text" class="form-control" name="NIK" style="width:300px" value="{{NIK}}" >
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">Id Rekening</th>
											<td>
												<input type="text" class="form-control" name="Id_Rekening" style="width:300px" value="{{Rekening_Bank}}" >
											</td>
										</tr>
                                        <tr>
											<th style="width:50px">Nama Keu</th>
											<td>
												<input type="text" class="form-control" name="Nama_Keu style="width:300px" value="{{Nama_Rek_DKI}}" >
											</td>
										</tr>			
										<tr>
											<th style="width:150px"></th>
											<td colspan="2" style="width:250px">											
												<input type="submit" class="btn btn-primary" value="Simpan">
												<a href="/admin/deleteNama/{{Id}}" class="btn btn-danger pull-right">Hapus Data</a>                                                
											</td>
										</tr>
									</tbody>
								</table>
							</form>
							{{/each}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /.content -->
</div>
<!-- /.content-wrapper -->


{{>admin/footer}}